body  { background-color:#ffe28c; }

a { color:#370be5; }
a:hover { background-color:#fff7b7; }
a.broken_1 { font-style:italic; background-color:#FFCCCC;}
a.broken_1:hover { background-color:#FFEEFF; }

td { text-align: center }


/* Untested */
.A { text-align: center;}

/* PASS */
.E { background: #58c932; text-align: center;}

/* XFAIL */
.I { background: #98f47a; text-align: center;}

/* XPASS */
.M { background: #ea6b6b; text-align: center;}

/* FAIL */
.Q { background: #f43a3a; text-align: center;}
.R { background: #f43a3a; text-align: center; text-decoration:overline;}

/* ERROR */
.U { background: #5793ed; text-align: center;}
.V { background: #5793ed; text-align: center; text-decoration:overline;}
